/* DEBUG */


body {
    font-size: 15px;
}

.col-1, .col-12, .col-8, .col-2, .col-6 {
    background-color: lightpink;
    border: 1px solid black;
    height: 200px;
    text-align: center;
    line-height: 200px;
}

